{%extends 'base.html'%} {%block body%}


<section class="container" style="padding-top: 100px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="wrapper" id="cat_escolhida">
                        <nav class="vertical">
                            <ul>
                                <li>
                                    <a>Categoria Escolhida</a>
                                    <div>
                                        <ul>
                                            <li><a>{{category.get_title()}}</a></li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {%for i in category.get_video_category_id()%}
                    <div class="col-lg-6 mb-4 mt-5">
                        <div class="wrapper">
                            <div class="clash-card barbarian">
                                <div class="clash-card__image clash-card__image--barbarian">
                                    <img src="/static/{{i.get_thumb()}}" alt="barbarian" />
                                </div>
                                <div class="clash-card__level clash-card__level--barbarian">Categoria: {{category.get_title()}}</div>
                                <div class="clash-card__unit-name">{{i.get_title()}}</div>
                                <div class="clash-card__unit-description">
                                    {{i.get_description()}}
                                </div>
                                <div class="view_video_stats view_video">
                                    <a href="/category/{{category.get_id()}}/video/{{i.get_id()}}"><button class="btn btn-warning">Assistir Video</button>
                                    </a>
                                </div>
                                <div class="row clash-card__unit-stats clash-card__unit-stats--barbarian">
                                    <div class="col-lg-6">
                                        <div class="">
                                            <div class="stat">{{i.get_qtdlike()}}</div>
                                            <div class="stat-value">Curtidas</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="">
                                            <div class="stat">{{i.get_qtdVisualization()}}</div>
                                            <div class="stat-value">Visualizações</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- end clash-card barbarian-->
                    </div>
                    {%endfor%}
                    <!-- end wrapper -->
                </div>
                <!-- end container -->
            </div>
            {%include 'menu_category.html'%} {%block category_menu%} {%endblock%}
        </div>
    </div>
    </div>



    </div>
    </div>
</section>


{%endblock%}