{%extends 'base.html'%} {%block body%}

<section>
    <div class="container">
        <img src="{{url_for('static', filename = 'assets/img/youmix.jpg')}}">
    </div>
</section>

<section class="container">
    <div class="container">
        <div class="row">
            {%include 'menu_category.html'%} {%block category_menu%} {%endblock%}
            <div class="col-lg-8">
                <h1 style="text-align: center;">Categoria Escolhida: {{category.get_title()}}</h1>
            </div>

        </div>
    </div>
</section>


{%endblock%}