{%extends 'base.html'%} {%block body%}


<section class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <h1 style="text-align: center;">Categoria Escolhida: {{category.get_title()}}</h1>
                    <br>
                </div>

                <div class="row">
                    {%for i in category.get_video_list()%}
                    <img style="margin: auto;" width="320" height="240" src="/static/{{i.get_thumb()}}"> {%endfor%}
                </div>
            </div>


            {%include 'menu_category.html'%} {%block category_menu%} {%endblock%}
        </div>
    </div>
</section>


{%endblock%}