<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>
        Bem vindo a o YouMIX - a maior plataforma de streaming do BRASIL
    </title>





    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/index_style.css')}}">

</head>
<body>
    
    <section>
        <div class="container">
            <img src="{{url_for('static', filename = 'assets/img/youmix.jpg')}}">
        </div>
        
    </section>

    <section style="padding-top: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <p id="titulo">BEM VINDO AO YOUMIX</p>
                    <p id="sub_titulo">o maior canal de streaming do brasil</p>
                    <p id="texto_home">escolha sua categoria ao lado</p>
                </div>
                <div class="col-lg-2">
                    <ul id="nav">
                        <li><a id="categoria">Categorias</a>  
                            <ul>
                                <li><a id="cat" href="{{url_for('games')}}">Jogos</a></li> 
                                <li><a id="cat" href="{{url_for('culinary')}}">Culinária</a></li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



















































</body>

</html>

