{%extends 'base.html'%} {%block body%}
<div id='header-with-background' class='section fade-in'>
    <div id='kai' class='fade-in'>Nyan CAAAAAT</div>
    <div id='content' class='fade-in'>
        <div id='title'>Bem vindo ao MEU MUNDO</div>
        <div id='paragraph'>
            Bem vindo ao mundo de Nyan Cat!! ao clicar na setinha abaixo, você entrara no mundo de Nyan Cat
        </div>
        <div id='CTA'>Quer entrar no meu mundo? deslize pela setinha</div>
    </div>
    <div id='arrow' class='fade-in'></div>
    <div id='overlay' class='fade-in'></div>
</div>

<div class="container" style="margin: auto; padding: 0; padding-top: 100px;">
    <div class="row" style="margin: auto;">
        <div class="col-lg-10" style="margin: auto;">
            <div class="container" style="margin: auto; padding: 0;">
                <div class="wrapper" id="cat_escolhida" style="margin: auto; width: 700px!important;">
                    <nav class="vertical">
                        <ul id="roll">
                            <li>
                                <a>videos mais curtidos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row justify-content-center">
                    {%for video in videos_curtidos[:2] %}
                    <div class="col-lg-5">
                        <div class="wrapper">
                            <div class="clash-card barbarian">
                                <div class="clash-card__image clash-card__image--barbarian">
                                    <img src="/static/{{video.get_thumb()}}" alt="barbarian" />
                                </div>
                                <div class="clash-card__unit-name">{{video.get_title()}}</div>
                                <div class="clash-card__unit-description">
                                    {{video.get_description()}}
                                </div>
                                <div class="view_video_stats view_video">
                                    <a href="/category/{{video.get_category_id()}}/video/{{video.get_id()}}"><button class="btn btn-warning">Assistir Video</button>
                                                </a>
                                </div>
                                <div class="row clash-card__unit-stats clash-card__unit-stats--barbarian">
                                    <div class="col-lg-6">
                                        <div class="">
                                            <div class="stat">{{video.get_qtdlike()}}</div>
                                            <div class="stat-value">Curtidas</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="">
                                            <div class="stat">{{video.get_qtdVisualization()}}</div>
                                            <div class="stat-value">Visualizações</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- end clash-card barbarian-->
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        {%include 'menu_category.html'%} {%block category_menu%} {%endblock%}

    </div>
</div>

<script>
    document.getElementById('arrow').addEventListener('click', scrollToNext);
    document.getElementById('back-to-top').addEventListener('click', scrollBackToTop);

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            scrollToNext();
        }
    });

    function scrollToNext() {
        document.getElementById('roll').scrollIntoView({
            behavior: 'smooth'
        });
        setTimeout(function() {
            document.getElementById('back-to-top').classList.add("slideIn");
        }, 100);
    }

    function scrollBackToTop() {
        window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
        });
        document.getElementById('back-to-top').classList.remove("slideIn");
    }
</script>

<script>
    function openSearch() {
        document.getElementById('search-modal').style.display = "block";
    }
    // fungsi untuk menutup modal search
    function closeModal() {
        document.getElementById('search-modal').style.display = "none";
    }
</script>

<script>
    document.addEventListener("touchstart", function() {}, true);
</script>


<script>
    var searchInput = document.querySelector('#s');
    var searchResult = document.querySelector('.search-result');

    var searchTimeOut;

    $('#s').keyup(function() {
        clearTimeout(searchTimeOut);

        searchTimeOut = setTimeout(() => {
            var inputValue = searchInput.value;

            if (inputValue) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState === 4) {
                        var videos = JSON.parse(xmlhttp.response);
                        var result = '';

                        if (videos.length) {
                            $('.search-input').addClass('b-radius');
                            $('.search-submit').addClass('b-radius2');
                            $('.search-result').addClass('d-block');

                            videos.forEach(video => {
                                result += `
                                    <div>
                                    <p>
                                        <a href="/player/${video._id}"><img class="avatar" src="/static/img/${video._tumbnail_video}" alt="${video._title}">
                                        ${video._title} - ${video._sub_title}
                                        </a>
                                    </p>
                                    </div>
                                `;
                            });
                        } else {
                            alert('nada');
                        }

                        $('.search-result').html(result);

                    }
                }
                xmlhttp.open("GET", `/player/search?search=${inputValue}`, true);
                xmlhttp.send();
            } else {
                $('.search-input').removeClass('b-radius');
                $('.search-submit').removeClass('b-radius2');
                $('.search-result').removeClass('d-block');
            }
        }, 500);
    });
</script>

{%endblock%}


















































</body>

</html>