<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>
        Bem vindo a o YouMIX - a maior plataforma de streaming do BRASIL
    </title>





    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/index_style.css')}}">

</head>
<body>
    
    <section>
        <div class="container">
            <img src="{{url_for('static', filename = 'assets/img/youmix.jpg')}}">
            <h1> <a href="{{url_for('home')}}">inicio</h1>
        </div>
    </section>

    <section class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul id="nav">
                        <li><a id="pagina_categoria">Categorias</a>  
                            <ul>
                                <li><a id="pag_cat" href="{{url_for('games')}}">Jogos</a></li> 
                                <li><a id="pag_cat" href="{{url_for('culinary')}}">Culinária</a></li> 
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <h1 style="text-align: center;">Categoria Escolhida: Jogos</h1>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                                <img width="200px" height="200px" src="{{url_for('static', filename = 'assets/img/youmix.jpg')}}">
                        </div>
                        <div class="col-lg-6">
                            <img width="200px" height="200px" src="{{url_for('static', filename = 'assets/img/youmix.jpg')}}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>