{%block category_menu%}
<div class="col-lg-2">
    <div class="wrapper">
        <nav class="vertical">
            <ul>
                <li>
                    <a href="#">Categorias</a>
                    <div>
                        <ul>
                            {% for categories in category_list %}
                            <li><a href="/category/{{categories.get_id()}}">{{categories.get_title()}}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
{%endblock%}