{%extends 'base.html'%} {%block body%}

<div class="container" style="padding-top: 100px;">
    <a href="/category/{{categories.get_id()}}">
        <div class="button-container" style="padding-bottom: 30px;">

            <div class="button-flipper">
                <button class="front-button">Voltar</button>
                <button class="back-button">Para Categoria</button>
            </div>

        </div>
    </a>
    <div class="row">
        <div class="col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/static/{{video.get_file_video()}}"></iframe>
            </div>
            <div id="wrapper">
                <div id="profiAle">
                    <div id="body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="account">
                                    <div id="username">{{video.get_title()}}</div>
                                    <div id="handle">Data Publicação: {{video.get_date_publish()}}</div>
                                    <div id="handle">Categoria: {{categories.get_title()}}</div>
                                </div>
                                <div id="bio">{{video.get_description()}}</div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary" id="like">
                                    <i class="fa fa-thumbs-up"> Curtir</i>
                                </button>
                            </div>
                            <div class="col-lg-2">
                                <a class="share-button js-share-button" style="margin: auto;" href="#"><i style="float: left; font-size: 33px;" class="fa fa-share icon" aria-hidden="true"></i></a>
                                <div class="share-modal share-modal--close">
                                    <div style="text-align: center;" class="share-body">
                                        <a class="share-modal__close" href="#" id="closeModalButton">
                                            <i class="fa fa-close icon" aria-hidden="true"></i>
                                        </a>
                                        <p class="share-modal__title">
                                            <i class="fa fa-share icon" aria-hidden="true"></i>
                                            <span>COMPARTILHE SEU VIDEO!</span>
                                        </p>
                                        <p class="share-modal__post-title">{{video.get_title()}}</p>
                                        <img class="share-modal__post-title" style="width: 250px; height:200px; text-align: center;" src="/static/{{video.get_thumb()}}" />
                                        <p class="share-modal__post-title">{{video.get_description()}}</p>
                                        <p class="share-modal__post-title share-modal__post-title--small">Copie seu link de compartilhamento</p>
                                        <input type="text" readonly="" class="share-modal__link-box" id="share" onClick="this.select();">
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <ul id="classvideo">
                            <li id="cardvideo"><span class="label">Views</span><span id="tweets">{{video.get_qtdVisualization()}}</span></li>
                            <li id="cardvideo"><span class="label">Likes</span><span id="following">{{video.get_qtdlike()}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="formularios" class="col lg-4">
            <div class="comment-section">
                <h3 class="comment-reply-title">seu comentário é importante!</h3>
                <div class="comment-form-comment">
                    <textarea textarea="" placeholder="Comentario *" id="comment" name="comment" cols="45" rows="8" maxlength="65525" required></textarea>
                    <label for="comment">Escreva seu comentario</label>
                </div>
                <div class="form-submit">
                    <button class="btn btn-primary" id="send_comment">
                            Enviar Comentario
                        </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-container">
                <h1>Comentarios</h1>
                <ul id="comments" class="comments-list">
                    {%for comment in commentary %}
                    <li>
                        <div class="comment-main-level">
                            <div class="comment-avatar"><img src="/static/assets/img/user.png" alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a>Vinicius Almeida</a></h6>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">
                                    {{comment.get_content()}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>

        </div>
    </div>
</div>

<script>
    var url = document.location.href;
    var input_share = document.querySelector('#share');

    input_share.value = url;

    var $shareModal = $('.share-modal');

    var toggleModal = function() {
        $shareModal.toggleClass('share-modal--open');
        $shareModal.toggleClass('share-modal--close');
    }

    $('.js-share-button').on('click', function(e) {
        e.preventDefault();
        toggleModal();
    });

    $(document).keyup(function(e) {
        if (e.keyCode === 27 && $shareModal.hasClass('share-modal--open')) {
            $shareModal.removeClass('share-modal--open');
            $shareModal.addClass('share-modal--close');
        }
    });

    $('#closeModalButton').on('click', function(e) {
        e.preventDefault();
        toggleModal();
    });

    var btnLike = document.getElementById('like');

    btnLike.onclick = function() {
        btnLike.disabled = true;
        var likeValue = document.getElementById('following');
        console.log(parseInt(likeValue.textContent));

        likeValue.innerHTML = parseInt(likeValue.textContent) + 1;

        var xmlhttp = new XMLHttpRequest();
        var video_id = parseInt(`{{video.get_id()}}`);
        xmlhttp.open("GET", "/video/like?like=" + video_id + "", true);
        xmlhttp.send();
        console.log(video_id)
        swal("Você Curtiu!", "Obrigado por curtir nosso video!", "success");
    }


    btnComment = document.getElementById('send_comment');

    btnComment.onclick = function() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            console.log(this.response)
            if (this.readyState == 4 && this.status == 200) {
                data = this.response;
                data = JSON.parse(data)
                $('#comments').prepend(`
                <li id="id_comment-` + data._id + `">
                    <div class='comment-main-level'>
                        <div class='comment-avatar'><img src='/static/assets/img/user.png' alt=''></div>
                        <div class='comment-box'>
                            <div class='comment-head'>
                                <h6 class='comment-name'><a>Vinicius Almeida</a></h6>
                                <i class='fa fa-reply'></i>
                                <i class='fa fa-heart'></i>
                                <i class='fa fa-trash' onclick="delete_commentary( ` + data._id + ` )"></i>
                            </div>
                            <div class='comment-content' id='comments'>
                                ${data._content}
                            </div>
                        </div>
                    </div>
                </li>
            `)
                $("textarea#comment").val('')
            }

        }
        var video_id = parseInt(`{{video.get_id()}}`);
        var comment = $("textarea#comment").val()
        xmlhttp.open("GET", "/video/commentary?commentary=" + comment + "&video_id=" + video_id + "", true);
        xmlhttp.send();
    };

    var delete_commentary = function(comment_id) {
        console.log('fodase')
        var btn_comment = document.getElementById('send_comment')
        var comment = document.getElementById('comments')
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.response)
                data = this.response;
                data = JSON.parse(data)
                if (data === true) {
                    document.getElementById('id_comment-' + comment_id).remove();
                }
            }
        }
        xmlhttp.open("GET", "/video/commentary/delete/?id_video={{video.get_id()}}&id_comment=" + comment_id, true);
        console.log(comment_id)
        xmlhttp.send();
    }
</script>
{%endblock%}