{%extends 'base.html'%} {%block body%}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <video width="70%" height="50%" controls src="/static/{{video.get_file_video()}}">
            </video>
            <button class="btn btn-primary" id="like">
                <i class="fa fa-thumbs-up"></i>
            </button>

        </div>
        <div id="formulario" class="col lg-4">
            <div class="comment-section">
                <h3 class="comment-reply-title">seu comentário é importante!</h3>
                <form id="commentform" class="comment-form">
                    <div class="comment-form-name">
                        <input id="name" placeholder="Nome *" name="name" type="text" value="" pattern="^[^0-9]+$" size="30" maxlength="245" required>
                        <label for="name"></label>
                    </div>
                    <div class="comment-form-surname">
                        <input id="surname" placeholder="Sobrenome *" name="surname" type="text" value="" size="30" maxlength="245" required>
                        <label for="surname"></label>
                    </div>
                    <div class="comment-form-comment">
                        <textarea textarea="" placeholder="Comentario *" id="comment" name="comment" cols="45" rows="8" maxlength="65525" required></textarea>
                        <label for="comment">Escreva seu comentario</label>
                    </div>
                    <div class="form-submit">
                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var btnLike = $("#like")
    btnLike.click(function() {
        $.ajax({
            url: "/video/like",
            data: {
                video_id: parseInt("{{video.get_id()}}")

            },
            method: "POST"
        }).done(function(data) {
            console.log(data)
        })
    })
</script>

{%endblock%}