{%extends 'base.html'%} {%block body%}

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/static/{{video.get_file_video()}}"></iframe>
            </div>
            <div id="wrapper">
                <div id="profiAle">
                    <div id="body">
                        <button class="btn btn-primary" id="like">
                            <i class="fa fa-thumbs-up"> Curtir</i>
                        </button>
                        <div id="account">
                            <div id="username">{{video.get_title()}}</div>
                            <div id="handle">Categoria: {{categories.get_title()}}</div>
                        </div>
                        <div id="bio">{{video.get_description()}}</div>
                        <br>
                        <ul id="classvideo">
                            <li id="cardvideo"><span class="label">Views</span><span id="tweets">{{video.get_qtdVisualization()}}</span></li>
                            <li id="cardvideo"><span class="label">Likes</span><span id="following">{{video.get_qtdlike()}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="formularios" class="col lg-4">
            <div class="comment-section">
                <h3 class="comment-reply-title">seu comentário é importante!</h3>
                <div class="comment-form-comment">
                    <textarea textarea="" placeholder="Comentario *" id="comment" name="comment" cols="45" rows="8" maxlength="65525" required></textarea>
                    <label for="comment">Escreva seu comentario</label>
                </div>
                <div class="form-submit">
                    <button class="btn btn-primary" id="send_comment">
                            Enviar Comentario
                        </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-container">
                <h1>Comentarios</h1>
                <ul id="comments" class="comments-list">
                    {%for comment in commentary %}
                    <li>
                        <div class="comment-main-level">
                            <div class="comment-avatar"><img src="/static/assets/img/user.png" alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a>Vinicius Almeida</a></h6>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">
                                    {{comment.get_content()}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>

        </div>
    </div>
</div>

<script>
    var btnLike = $("#like")
    btnLike.click(function() {
        $.ajax({
            url: "/video/like",
            data: {
                video_id: parseInt("{{video.get_id()}}")

            },
            method: "POST"
        }).done(function(data) {
            console.log(data)
        })
    })
</script>
<script>
    document.getElementById('like').onclick = function() {

        swal("Você Curtiu!", "Obrigado por curtir nosso video!", "success");
    }
</script>
<script>
    var commentary = $('#send_comment')
    commentary.click(function() {
        $.ajax({
            url: "/video/commentary",
            data: {
                id_video: '{{video.get_id()}}',
                comments: $("textarea#comment").val()
            },
            method: "POST"
        }).done(function(data) {
            if ($('#comment').val() == '') {
                swal({
                    icon: 'error',
                    title: 'Poxa',
                    text: 'Você esqueceu de escrever um comentario :(!',
                })
            } else {
                console.log(data)
                $('#comments:first').prepend(`
                <li>
                    <div class='comment-main-level'>
                        <div class='comment-avatar'><img src='/static/assets/img/user.png' alt=''></div>
                        <div class='comment-box'>
                            <div class='comment-head'>
                                <h6 class='comment-name'><a>Vinicius Almeida</a></h6>
                                <i class='fa fa-reply'></i>
                                <i class='fa fa-heart'></i>
                            </div>
                            <div class='comment-content' id='comments'>
                                ${data._content}
                            </div>
                        </div>
                    </div>
                </li>
            `)
                $("textarea#comment").val('')
            }
        });
    });
</script>

{%endblock%}