/* ESTILOS DA PAGINA PRINCIPAL */

#titulo {
    font-size: 60px;
    text-align: center;
    color: red;
    

}


#sub_titulo {
    font-size: 30px;
    text-align: center;
    color: green;
}


#texto_home {
    font-size: 15px;
    text-align: center;
    color:blue;
}


#categoria {

    font-size: 30px;
    color: red;
}


ul {

    margin: 0;
    list-style: none;
    width: 500px;
}

/* ESTILO AMBIGUO, VALE PARA AS 2 PAGINAS */

#cat {
    color: #5F5E5E;
}

#cat:hover {

    text-decoration:none;
    font-weight: bold;
    color: black;
}

/* AQUI TERMINA ELE */


/* ESTILOS PAGINA CATEGORIAS */

#pagina_categoria {

    font-size: 30px;
    color: red;

}

#pag_cat {
    color: #5F5E5E;
}

#pag_cat:hover {

    font-size:20px;
    text-decoration:none;
    font-weight: bold;
    color: black;
}

#teste {

    text-align: center;
    margin: 0;
    list-style: none;
    width: 500px;
}